@charset "utf-8";

body {
    padding:0px;
    margin:0px;
}

ul.none {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top:0px;
}

ul.none li{
    display: inline-block;
    margin: 2px;

}

fieldset img{
    height: 200px;
    width: 300px;
    position: relative;
    float: right;
    bottom: 170px;



}


div#rodape{
    height: 220px;
}

div#rodape div#etapas{
 text-align: center;
}

div#rodape div#opcao{
    text-align: center;
    padding: 10px;
}

div#rodape div#opcao input{
    margin: 50px;
}

div#formulario{
height: 300px;
}

div#cabecalho{
    height: 100px;
}


table#tabelcad{

    border-spacing: 0px;
    width: 400px;
}

table#tabelcad td{
    padding: 5px;
    text-align: right;

}
