@charset "utf-8";

.minerva-nome{
    font-family: 'UnifrakturMaguntia', cursive;
    color: black;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.minerva-subnome{
    font-family: 'Hammersmith One', sans-serif;
    color: black;
    font-size: 1.5em;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

